nav{
	background-color: black;
}

ul{
	margin-left: 50px;
}

#special1{
	margin-left: 100px;
}
 h3{
 	color: white;
 	padding-top: 200px;
 	padding-left:50px;
 	text-decoration: underline;
 }


 h2{
 	border:1px white solid;
 	background-color: white;
 }
#lax{
	height: 500px;
}


.wtitle{
text-align: center;
}


section{
	background-color: black;
}

section p {
	color: white;
	text-align: center;
	padding:0px 10px;
}


button {
	background-color: white;
}


#first {
	margin-top: 250px;
}

.col-sm-12{
	margin-top: 5px;
}

a h3 {
	text-align: center;
}

span > img {
	width: 100%;
}

#gallery {
	height: 420px;
	width: 100%;
}

#enquire{
	width: 100%;
	height: 420px;
}


.carousel-caption{
	padding-bottom: 210px;

}



