.navbar-nav{
	text-align: center;
}



a{
	color: black;
}

nav {
	background-color: grey;
}

.navbar-brand{
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h2{
	text-align: center;
}

.container-fluid{
	text-align: center;
	border:1px black solid;
	background-color: grey;
	color: black;
	margin-top: 50px;

}


@media 