* {
	font-family: "Lucida Console", Courier, monospace;
	box-sizing: border-box;
}


h1{
	text-align: center;
	font-size: 15px;
	font-size:3em;
}



.container1{
	position: relative;
	float: left;
	width: 31.1%;
	margin :1% 1%;
	border:solid black 1px;
	background-color: #dad9db;
}


.container2{
	position: relative;
	float: left;
	width: 31.1%;
	margin :1% 1%;
	border:solid black 1px;
	background-color: #dad9db;
}

.container3{
	position: relative;
	float: left;
	width: 31.1%;
	margin :1% 1%;
	border:solid black 1px;
	background-color: #dad9db;
}


#special{
	margin-right: 10px;
}

h3 {
	position: absolute;
	top:0px;
	right: -1px;
	margin-top: -1px;
	border:solid black 1px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 15px
	font-size:1em;

}


p {
	margin-top: 40px;
	padding:10px;
	font-size: 15px;
	padding-bottom: 0px;
}

#heading1 {
	background-color: #eba7b9;
	color: white;
}

#heading2 {
	background-color: #afedb5;
}

#heading3 {
	background-color: #c5b8fc;
}



/******Tablet******/

@media (min-width: 992px){

}

@media (min-width: 768px ) and (max-width: 991px){

	 .container1 {
	 	float: initial;
	 	width: 48%;
	 }

	 .container2 {
	 	position: absolute;
	 	top: 110px;
	 	right:5px;
	 	width: 48%
	 }

	 .container3 {
	 	width: 98.4%


	 }


}

@media (max-width: 767px){

	.container1 {
		float: initial;
		width: 80%;
		margin-bottom: 30px;
		margin-left: 10%;
	}

	.container2 {
		float: initial;
		width: 80%;
		margin-bottom: 30px;
		margin-left: 10%;
	}

	.container3 {
		float: initial;
		width: 80%;
		margin-bottom: 30px;
		margin-left: 10%;
	}


}




